<h1>Edit profile</h1>
<form method="POST" action="/users/<%= user._id%>">

  <input type="hidden" name="_method" value="PUT">

  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input id="url-input" class="input" name="image" type="hidden" placeholder="Image">
      <input type="BUTTON" value="Upload Image" id="pickWatermark" onclick="filestackUpload()">




      <script>
      const client = filestack.init("AathCQHBORnSzPBb8eXW6z");
      let watermarkHandle = '';
      let transformURL = "https://cdn.filestack.com/watermark=file:";
      let fileUrl;

      function filestackUpload() {
        client.pick({
          accept: 'image/*',
          maxFiles:1,
          transformations: { crop: { force: true, aspectRatio: 4/4  } }

        }).then(function(result) {
             let fileUrl = result.filesUploaded[0].url;
             console.log(fileUrl);
             $('#url-input').val(fileUrl);
           });
      };
      </script>
      <div class="field">
        <label for="bio">Bio</label>
        <input class="textarea" type="text" name="bio" id="bio">
      </div>
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
