<nav class="navbar">
  <div class="navbar-brand">
    <a href="/following">
      <img class="navbar-logo" id="insta-logo" src="https://s3.amazonaws.com/freebiesupply/large/2x/instagram-logo-gradient-transparent.png">
    </a>
  </div>
  <div class="navbar-burger burger" data-target="#mobile-menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/photos">Explore</a>
      <% if(locals.isAuthenticated) { %>
        <a class="navbar-item" href="/photos/new">Add Photo</a>
        <a class="navbar-item" href="/following">Feed</a>
        <a class="navbar-item" href="/users/<%= locals.currentUser._id %>">My Profile</a>
        <a class="navbar-item" href="/logout">Logout</a>
      <% } else { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
