<nav class="navbar">
  <a href="/">Insta</a>
  <a href="/photos">All Photos</a>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/photos/new">Add Photo</a>
  <a href="/logout">Logout</a>
</nav>
