<form method="POST" action="/photos/<%= photo._id%>">

  <input type="hidden" name="_method" value="PUT">
  
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input class="input" name="image" type="text" placeholder="Image">
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" name="description" type="text" placeholder="Description">
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Submit</button>
  </div>
</form>
