<main class="container">
  <div class="columns is-multiline">
    <% photos.forEach(photo => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
        <a href ="/photos/<%= photo._id%>">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="<%= photo.image %>" alt="<%= photo.description %>">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title"><%= photo.description %></h3>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
