<div class="columns">
  <% photos.forEach(photo => { %>
    <div class="column">
      <a href="/photos/<%= photo._id%>">
        <img src="<%= photo.image %>" />
          <h2><%= photo.description %></h2>
        </div>
      </a>
  <% }) %>
</div>
