.navbar-logo {
  height: 50px;
  width: auto;
}

div.column {
  padding-bottom: 50px;
}

.like, .unlike {
  display: hidden;
}

.avatar {
  border-radius: 50%;
}

.image-preview {
  height: 200px;
  width: 200px;
  border: 2px solid grey;
  border-style: dashed;
}

.image-preview:hover {
  cursor: pointer;
  background-color: #ccc;
  color: white;
}

.image-preview-text {
  line-height: 12em;
  vertical-align: middle;
  text-align: center;
}

#temp_image {
  width: 100%;
  visibility: hidden;
}
