body {
  min-height: 100vh;
  height: 100%;
  background-color: #F3F1F1;
}

hr.horizontal-rule {
  margin-top: 0;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

.hero-body {
  background-color: #fff;
}

main.container  {
  margin-top: 10vh;
}

div.notification {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Homepage styles */
.homepage-login {
  margin-top: 10px;
}

.homepage-iphone {
  display: block;
  width: 350px;
  height: 550px;
  margin: auto;
}

.tomstagram-logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

div.homepage-right-column {
  background-color: #fff;
  padding: 30px 20px;
}

.image-show-card {
  background-color: #fff;
  margin-top: 10px;
}

div.box {
  border-radius: 0;
  box-shadow: none;
}

.button, .textarea {
  margin-bottom: 20px;
}

.comments-delete-button {
  padding: 5px 5px;
  border: 3px solid grey;
  border-radius: 50%;
  line-height: 0.6em;
  background-color: white;
  color: grey;
  font-weight: 800;
  float: right;
}

.comments-delete-button:hover {
  background-color: grey;
  color: white;
  border: 3px solid grey;
  cursor: pointer;
}

.navbar-brand {
  position: absolute;
  float: left;
  width: 50px;
}

div.column {
  padding-bottom: 50px;
}

.like, .unlike {
  display: hidden;
}

.avatar {
  border-radius: 50%;
}

.user-info-sheet {
  background-color: #fff;
}

.follow-button {
  margin: 20px auto;
  vertical-align: bottom;
}

.image-preview {
  height: 200px;
  width: 200px;
  border: 2px solid grey;
  border-style: dashed;
}

.image-preview:hover {
  cursor: pointer;
  background-color: #ccc;
  color: white;
}

.image-preview-text {
  line-height: 12em;
  vertical-align: middle;
  text-align: center;
}

#temp_image {
  position: relative;
  width: 100%;
  visibility: hidden;
}

.image-container {
  background-color: #fff;
}

.image-overlay-text {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
}

.image-overlay-text p {
  text-align: center;
  line-height: 5em;
}

.image-overlay-header {
  font-size: 30px;
  text-align: center;
  line-height: 5em;
}

.image-container:hover .image-overlay-text {
  opacity: 1;
}

.image-container:hover .hoverable-image {
  opacity: 0.2;
}

.container.homepage {
  padding-top: 10vh;
}

@media (max-width: 1066px) {
	.container.homepage {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  main.container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 1006px) {
  .image-overlay-text {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
    text-align: center;
    line-height: 20em;
  }
  .image-overlay-text p {
    text-align: center;
    line-height: 2em;
  }
}

@media (max-width: 768px) {
	.homepage-iphone {
    display: none;
  }
}
