<div class="container homepage">
  <div class="columns">
    <div class="column is-two-thirds">
      <img class="homepage-iphone" src="/images/Homepage-iphone.png" alt="Homepage-iphone">
    </div>
    <div class="column homepage-right-column">
      <img class="tomstagram-logo" src="/images/tomstagram_logo.png" alt="Tomstagram logo">
      <h1>Sign up to find and share great photos.</h1>
        <form method="POST" action="/register">
          <div class="field">
            <input class="input" type="text" name="username" id="username" placeholder="Username">
          </div>
          <div class="field">
            <input class="input" type="text" name="email" id="email" placeholder="Email address">
          </div>
          <div class="field">
            <input class="input" type="hidden" name="image" id="url-input">
            <input class="button" type="BUTTON" value="Upload profile picture" id="pickWatermark" onclick="filestackUpload()">
          </div>

          <script>
          const client = filestack.init("AathCQHBORnSzPBb8eXW6z");
          let watermarkHandle = '';
          let transformURL = "https://cdn.filestack.com/watermark=file:";
          let fileUrl;

          function filestackUpload() {
            client.pick({
              accept: 'image/*',
              maxFiles:1,
              transformations: { crop: { force: true, aspectRatio: 4/4  } }

            }).then(function(result) {
                 let fileUrl = result.filesUploaded[0].url;
                 console.log(fileUrl);
                 $('#url-input').val(fileUrl);
               });
          };
          </script>

          <div class="field">
            <input class="input" type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="field">
            <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
          </div>
          <div class="field">
            <input class="textarea" type="text" name="bio" id="bio" placeholder="Bio">
          </div>
          <button class="button">Register</button>
        </form>
        <h1 class="homepage-login">Have an account? <a href="/login">Log in</a></h1>
      </div>

    </div>
</div>
